.clic {

height: 300px;
 width: 300px;
 background-color: red;

}

.souris {
	height: 800px;
	width: 800px;
	background-color: blue;
}

.soussouris {
	background-color: white;
	height: 5%;
	width: 5%;
	position: relative;
	border: 1px white none;
	border-radius: 30px;
	pointer-events: none;
	align-content: center;
}